@media screen and (max-width: 1160px) {
    .tent {
        width: 48%;
        margin-left: 1%;
    }

    input {
        height: 65px;
        width: 65px;
    }

    .equipment {
        width: 48%;
        margin-left: 1%;
    }

    .inspection {
        width: 48%;
        margin-left: 1%;
        margin-top: 1%;
    }

    .dry {
        width: 48%;
        margin-left: 1%;
    }

    .individual {
        width: 48%;
        margin-left: 1%;
    }

    .cooking {
        width: 48%;
        margin-left: 1%;
    }

    .foodAndWater {
        margin-left: 1%;
        /* margin-right: 2%;
        padding-right: 0%; */
        width: 97%;
    }

    .thingsToPurchase {
        margin-left: 1%;
        width: 97%;
    }
}

@media screen and (max-width: 920px) {
    #addItemButton {
        font-size: .7em;
    }

    #textInputBox {
        width: 60%;
        font-size: .7em;
        
    }

    input {
        width: 50px;
        height: 50px;
    }

    #checkAllBoxes1 {
        font-size: 1em;
    }

    #checkAllBoxes2 {
        font-size: 1em;
    }

    #checkAllBoxes3 {
        font-size: 1em;
    }

    #checkAllBoxes4 {
        font-size: 1em;
    }
    
    #checkAllBoxes5 {
        font-size: 1em;
    }

    #checkAllBoxes6 {
        font-size: 1em;
    }

    #checkAllBoxes7 {
        font-size: 1em;
    }

    .purchase {
        font-size: 1.5em;
    }

    h1.title {
        font-size: 3em;
    }

    .tent {
        width: 98%;
    }

    .equipment {
        width: 98%;
    }

    .inspection {
        width: 98%;
    }

    .dry {
        width: 98%;
    }

    .individual {
        width: 98%;
    }

    .cooking {
        width: 98%;
    }

    label {
        font-size: 1em;
    }
}

@media screen and (max-width: 867px) {
    input {
        width: 50px;
        height: 50px;
    }

    label {
        font-size: 1em;
    }

    .purchase {
        font-size: 1em;
    }
}

@media screen and (max-width: 650px) {
    .tent {
        width: 98%;
    }

    .equipment {
        width: 98%;
    }

    .inspection {
        width: 98%;
    }

    .dry {
        width: 98%;
    }

    .individual {
        width: 98%;
    }

    .cooking {
        width: 98%;
    }

    #textInputBox {
        width: 60%;
        font-size: .56em;
    }

    /* .foodAndWater {
        width: 98%;
    }

    .thingsToPurchase {
        width: 98%;
    }
    
    #list {
        width: 98%;
    } */

    input {
        width: 50px;
        height: 50px;
    }

    label {
        font-size: 1em;
    }
}

@media screen and (max-width: 630px) {
    #textInputBox {
        width: 70%;
        font-size: .56em;
    }
    
    #addItemButton {
        margin-left: 1%;
        
    }
}

@media screen and (max-width: 550px) {
    #textInputBox {
        width: 70%;
        font-size: .5em;
    }
}
