ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.tent {
    font-weight: bolder;
    font-size: 28px;
    color: black;
    /* background-size: cover;
    background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    background-position: center;
    opacity: 100%;
    /* width: 1000px; */
    background-color: rgb(77, 98, 35);
    width: 33%;
    margin-left: 0px;
    margin-right: 1px;
    /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; */
}

.formatInput {
    display: flex;
    align-items: center;
}

.equipment {
    font-weight: bolder;
    font-size: 28px;
    color: black;
    /* text-shadow: 0px 2px 0px red; */
    background-color: rgb(77, 98, 35);
    width: 33%;
    margin-right: 5px;
    margin-left: .3%;
}

.inspection {
    font-weight: bolder;
    font-size: 28px;
    color: black;
    /* text-shadow: 0px 2px 0px red; */
    background-color: rgb(77, 98, 35);
    width: 33%;
}

.dry {
    font-weight: bolder;
    font-size: 28px;
    color: black;
    /* text-shadow: 0px 2px 0px red; */
    background-color: rgb(77, 98, 35);
    width: 33%;
    margin-right: 5px;
    margin-top: 10px;
}

.individual {
    font-weight: bolder;
    font-size: 28px;
    color: black;
    /* text-shadow: 0px 2px 0px red; */
    background-color: rgb(77, 98, 35);
    width: 33%;
    margin-right: 1px;
    margin-top: 10px;
}

.cooking {
    font-weight: bolder;
    font-size: 28px;
    color: black;
    /* text-shadow: 0px 2px 0px red; */
    background-color: rgb(77, 98, 35);
    width: 33%;
    margin-top: 10px;
    margin-left: .3%;
}

.title {
    font-size: 70px;
    text-align: center;
}

.foodAndWater {
    font-weight: bolder;
    font-size: 28px;
    color: black;
    /* text-shadow: 0px 2px 0px red; */
    background-color: rgb(77, 98, 35);
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0%;
    margin-right: 0%;
}

.thingsToPurchase {
    font-weight: bolder;
    font-size: 28px;
    color: black;
    /* text-shadow: 0px 2px 0px red; */
    background-color: rgb(77, 98, 35);
    margin-bottom: 300px;
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: .5%;
    margin-top: 10px;
    margin-bottom: 30px;
}

button {
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    
}

button:hover {
    background-color: rgb(51, 29, 5);
}

#sleeping input:hover {
    background-color: black;
}

#addItemButton {
    width: 20%;
    height: 15%;
    color: black;
    background-color: grey;
    margin-left: 5%;
    font-size: 1em;
}

.list-element:hover {
    text-decoration: line-through;
    cursor: pointer;
}

#textInputBox {
    width: 640px;
    height: 50px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 1em;
}

input {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#checkAllBoxes1 {
    font-size: 30px;
    height: 100px;
    cursor: pointer;
}

#checkAllBoxes2 {
    font-size: 30px;
    height: 100px;
    cursor: pointer;
}

#checkAllBoxes3 {
    font-size: 30px;
    height: 100px;
    cursor: pointer;
}

#checkAllBoxes4 {
   font-size: 30px;
    height: 100px;
    cursor: pointer; 
}

#checkAllBoxes5 {
   font-size: 30px;
    height: 100px;
    cursor: pointer; 
}

#checkAllBoxes6 {
   font-size: 30px;
    height: 100px;
    cursor: pointer; 
}

#checkAllBoxes7 {
   font-size: 30px;
    height: 100px;
    cursor: pointer; 
}

label {
    font-size: 24px;
    /* cursor: pointer; */
}

.boxes {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: row;
    flex-wrap: wrap;
}

.purchase {
    font-size: 60px;
    padding: 5px;
}