body {
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
}

ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.tent {
    font-weight: bolder;
    font-size: 28px;
    color: black;
    /* text-shadow: 0px 2px 0px red; */
    /* background-image: url(https://images.unsplash.com/photo-1464547323744-4edd0cd0c746?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60); */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    opacity: 100%;
    /* width: 1000px; */
    background-color: blue;
    width: 33%;
    margin-left: 0px;
    margin-right: 5px;
}

.equipment {
    font-weight: bolder;
    font-size: 28px;
    color: black;
    /* text-shadow: 0px 2px 0px red; */
    background-color: darkgray;
    width: 33%;
    margin-right: 5px;
}

.inspection {
    font-weight: bolder;
    font-size: 28px;
    color: black;
    /* text-shadow: 0px 2px 0px red; */
    background-color: darkorange;
    width: 33%;
}

.dry {
    font-weight: bolder;
    font-size: 28px;
    color: black;
    /* text-shadow: 0px 2px 0px red; */
    background-color: firebrick;
    width: 33%;
    margin-right: 5px;
    margin-top: 10px;
}

.individual {
    font-weight: bolder;
    font-size: 28px;
    color: black;
    /* text-shadow: 0px 2px 0px red; */
    background-color: green;
    width: 33%;
    margin-right: 5px;
    margin-top: 10px;
}

.cooking {
    font-weight: bolder;
    font-size: 28px;
    color: black;
    /* text-shadow: 0px 2px 0px red; */
    background-color: purple;
    width: 33%;
    margin-top: 10px;
}

.title {
    font-size: 70px;
    text-align: center;
}

.foodAndWater {
    font-weight: bolder;
    font-size: 28px;
    color: black;
    /* text-shadow: 0px 2px 0px red; */
    background-color: palevioletred;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 40px;
}

.thingsToPurchase {
    font-weight: bolder;
    font-size: 28px;
    color: black;
    /* text-shadow: 0px 2px 0px red; */
    background-color: darkslategrey;
    margin-bottom: 300px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
}

button {
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    
}

button:hover {
    background-color: gold;
}

#addItemButton {
    width: 300px;
    height: 50px;
    color: black;
    background-color: grey;
    margin-left: 20px;
    font-size: 1em;
}

.list-element:hover {
    text-decoration: line-through;
    cursor: pointer;
}

#textInputBox {
    width: 640px;
    height: 50px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 1em;
}

input {
    width: 40px;
    height: 40px;
}

#checkAllBoxes1 {
    font-size: 30px;
    height: 100px;
    cursor: pointer;
}

#checkAllBoxes2 {
    font-size: 30px;
    height: 100px;
    cursor: pointer;
}

#checkAllBoxes3 {
    font-size: 30px;
    height: 100px;
    cursor: pointer;
}

#checkAllBoxes4 {
   font-size: 30px;
    height: 100px;
    cursor: pointer; 
}

#checkAllBoxes5 {
   font-size: 30px;
    height: 100px;
    cursor: pointer; 
}

#checkAllBoxes6 {
   font-size: 30px;
    height: 100px;
    cursor: pointer; 
}

#checkAllBoxes7 {
   font-size: 30px;
    height: 100px;
    cursor: pointer; 
}

label {
    font-size: 28px;
}

.boxes {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: row;
    flex-wrap: wrap;
}

.purchase {
    font-size: 60px;
    padding: 5px;
}